<apex:page >
<apex:iframe src="https://dycluster.documill.com/service/sfdc?sessionID={!$Api.Session_ID}&serverURL={!$Api.Partner_Server_URL_250}&templateID={!$CurrentPage.parameters.templateID}&id={!$CurrentPage.parameters.id}&fields={!$CurrentPage.parameters.fields}"/>
</apex:page>