<!-- ===================================================================
// QFX_deleteQuote.page
// Author.....: TF salesfactory42
// Version....: V1.01
// Date.......: 2009/09/17
// Description: VF with validation for Opportunity deletion
// Last change:	Added validation for List has no rows
//=================================================================== -->

<apex:page standardController="Opportunity" extensions="sf42_quotefx.QFX_delete_Opp">

	<apex:stylesheet value="{!URLFOR($Resource.sf42_quotefx__SF42_Styles)}"/>
	
	<apex:outputPanel rendered="{!forbidden}" >
	
		<apex:pageBlock >
		
		<apex:pageMessages />
			<div style="padding: 10px 0px 0px 20px;">
				<apex:form rendered="{!Not(onlycancel)}">
		
					<apex:outputPanel rendered="{!Language == 'de'}">
						<apex:commandLink styleclass="sf42btn" value="Zurück zur Opportunity" action="{!opportunityPR}" onmouseup=" this.value = 'Arbeite...'; this.disabled;" />
					</apex:outputPanel>
		
					<apex:outputPanel rendered="{!Language != 'de'}">
						<apex:commandLink styleclass="sf42btn"  value="Back to Opportunity" action="{!opportunityPR}" onmouseup=" this.value = 'Working...'; this.disabled;" />
					</apex:outputPanel>
		
				</apex:form>	
			</div>
		</apex:pageBlock>
	
	</apex:outputPanel>
	
	<apex:outputPanel rendered="{!Not(forbidden)}" >
	
		<apex:pageBlock >
			<div style="padding: 10px 0px 0px 20px;">
				<apex:form >
		
					<apex:outputPanel rendered="{!Language == 'de'}">
					
						<apex:outputText value="Bitte beachten Sie:" />
						<br/>
						<apex:outputText value="Sollten an der Opportunity inaktive Angebote vorhanden sein, werden diese mitgelöscht. Wollen Sie die Opportunity wirklich löschen?" />
						<br/><br/>
						<apex:commandLink styleclass="sf42btn" value="Opportunity löschen" action="{!deleteOpp}" onmouseup=" this.value = 'Arbeite...'; this.disabled;" />
						<apex:commandLink styleclass="sf42btn" value="Abbrechen" action="{!opportunityPR}" onmouseup=" this.value = 'Arbeite...'; this.disabled;" />
					</apex:outputPanel>
		
					<apex:outputPanel rendered="{!Language != 'de'}">
					
						<apex:outputText value="Please consider:" />
						<br/>
						<apex:outputText value="If there are inactive Quotes on this Opportunity, they will also be deleted. Do you really want to delete this Opportunity?" />
						<br/><br/>
						<apex:commandLink styleclass="sf42btn"  value="Delete Opportunity" action="{!deleteOpp}" onmouseup=" this.value = 'Working...'; this.disabled;" />
						<apex:commandLink styleclass="sf42btn"  value="Cancel" action="{!opportunityPR}" onmouseup=" this.value = 'Working...'; this.disabled;" />
					</apex:outputPanel>
		
				</apex:form>	
			</div>
		</apex:pageBlock>
	
	</apex:outputPanel>

</apex:page>