<!-- ===================================================================
// QFX_accept.page
// Author.....: TF salesfactory42
// Version....: V1.1
// Date.......: 2010/03/08
// Description: VF for accept Quotes (call from Opp or Flex)
// Last Change: Added input for Opp Amount if Quote has no Line Itemns
//=================================================================== -->

<apex:page standardController="sf42_quotefx__SF42_Quote__c" extensions="sf42_quotefx.QFX_quotes" action="{!act_acc}">

	<apex:pageMessages />
	
	<apex:stylesheet value="{!URLFOR($Resource.sf42_quotefx__SF42_Styles)}"/>
	
	<apex:pageBlock title="{!if (Language == 'de' , 'Auftragseingang' , 'Order Entry')}" id="acceptBlock">
		<apex:form >
			<table width="600px;" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td width="180px;">
						<apex:pageBlockSection showHeader="false">
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Amount.label}" />
								<apex:inputField value="{!OppMan.Amount}" />
							</apex:pageBlockSectionItem>
						</apex:pageBlockSection>
					</td>
					<td width="100px;">
						<apex:commandButton value="{!if (Language == 'de' , 'Auftragseingang' , 'Order Entry')}" action="{!act_acc_oli}" reRender="AcceptBlock" status="AccStatus" onmouseup=" this.value = 'Working...'; this.disabled;"/>
					</td>
					<td width="90px;">
						<apex:commandButton value="{!if (Language == 'de' , 'Abbrechen' , 'Cancel')}" action="{!opportunityPR}" onmouseup=" this.value = 'Working...'; this.disabled;" />
					</td>
					<td width="250px; height: 50px;">
						<apex:actionStatus id="AccStatus">
							<apex:facet name="start">
								<apex:image value="{!URLFOR($Resource.sf42_quotefx__SF42_ActionStatus)}"><apex:outputtext > &nbsp; {!if (Language == 'de' , 'Bitte warten...    ' , 'Please wait...   ')}</apex:outputtext></apex:image>
							</apex:facet>
							<apex:facet name="stop" ><font style="font-size: 34px;">&nbsp;</font></apex:facet>
						</apex:actionStatus>
					</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</apex:form>
	</apex:pageBlock>
	
</apex:page>