<!-- ===================================================================
// QFX_Admin.page
// Author.....: TF salesfactory42
// Version....: V1.0
// Date.......: 2009/08/10
// Description: VF Overview of Templates and Textitems (inc. parameters)
//=================================================================== -->

<apex:page standardController="sf42_quotefx__SF42_Quote__c" recordSetVar="SF42_Quote__r" extensions="sf42_quotefx.GetSessionParameters">

	<style>
		.activeTab { font-weight: bold; background-color: #7b829d;background-image: none; color: #ffffff; }
		.inactiveTab { font-weight: normal; background-color: lightgrey; color: #2B2B2B; color: white; background-image:none; }
		.back {font-weight: bold; background-color: #FFFFFF;background-image: none; color: #ffffff; padding: 3px;}
		.dr-toolbar-ext { background-color: #FFFFFF; background-image: none; padding-top: 7px; border-color: #FFFFFF;}
	</style>


	<apex:outputPanel styleClass="dr-toolbar-ext">	

		<img alt="Quote 2.0" align="middle" src="{!$Resource.Quote_fx_Logo}" />

		<div align="right" style="float: right;">
			<a href="javascript:history.back();" ><apex:outputText value="{!if (Language =='de' , 'Zurück zur vorherigen Seite' , 'Back to previous Page')}" /></a>
		</div>

	</apex:outputPanel>

<!-- 	<apex:outputpanel rendered="{!AND(ShowAdmin,Configmodus)}"> -->
		
<!-- 		<apex:include pageName="QFX_Templates" /> -->

<!-- 	</apex:outputpanel>	 -->

	<!-- Not in use any longer, a NEW Setup Page "qfx_setup_navigation" is used instead
		<apex:include pageName="QFX_Startpage" />	
	-->

</apex:page>