<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="sf42_quotefx.QFX_UploadFileController">
<head>
<style>
html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: normal;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 20px;
	color: #444;
}
h4, h5, h6
{
	font-size: 14px;
	color: #666;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: left;
}
.header,
.footer
{
	background: #118abd;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}

.detailHeader {
	display:block;
	background-color: #666;
	padding: 5px;
	min-height: 24px;
}

.detailHeader > span {
	color:#fff;
	padding-left: 15px;
	font-size: 15px;
}

.detailHeader > a {
	float:right;
	display:block;
	padding: 1px 10px;
	color: #fff;
	background-color: #444;
	text-decoration: none;
	margin-left: 2px;
	border-radius: 2px;
	border: solid 1px #333;
	font-size: 12px;
}


.content
{
	
}

.content h1, h2 {
	font-weight: 200;
	color: #999;
	border-bottom: 1px solid #efefef;
	padding: 5px 0px;
}

.content h1 {
	font-size: 28px;
}

.content h2 {
	font-size: 18px;
}

.content > div {
	font-size: 14px;
	color: #666;
	float:left;
	margin-bottom: 20px;
}

.content > div.column2 {
	width:100%;
	display:block;
}

.content > div.column2 > div {
	display:block;
	float:left;
	/* width:40%; */
	padding: 0px 10px 5px 10px;
	margin: 0px 2px 0px 0px;
	background-color:#f4f4f4;
}

.content > div.column2 > div > div.background {
	display:block;
	min-width:100px;
	min-height:100px;
	background-color:#ccc;
	margin-bottom: 10px;
}

.content > div.column2 > div > div.background > a {
	display:block;
	float:right;
	background-color: #cc0000;
	color: #fff;
	font-size: 16px;
	padding: 0px 4px 0px 4px;
	height: 20px;
	margin: 2px;
}

.content > h4 {
	margin: 0px 0px 20px 0px;
}

.content > h4 > span {
	float:right;
	min-width:100px;
}

.content > div.signatur {
	width: 300px;
	min-height: 100px;
	float:none;
	background-color: #eee;
	margin-top: 20px;
}

.content > div a, .content > a {
	color: #118abd;
	display: block;
	text-decoration: none;
	text-indent: 0px;
	padding: 2px;
}

.content a > span {
	float:right;
	min-width:100px;
}

.content > div a:hover, .content > a:hover {
	background-color: #118abd;
	color: #fff;
}

.content a > i {
	margin-right: 3px;
	min-width: 20px;
}

.content > div.headinfo {
	width: 95%;
}

.content > div.part {
	width: 45%;
	margin-right: 5%;
	min-width: 300px;
}

.content input[type=text] {
	min-width:50%;
	font-size:14px;
}


.content input[type=file] {
	float:left;
}

.content input[type=button],
.content input[type=submit] {
	float:left;
	display:block;
	padding: 1px 10px;
	color: #fff;
	background-color: #444;
	text-decoration: none;
	margin-left: 2px;
	border-radius: 2px;
	border: solid 1px #333;
	font-size: 12px;	
}

#editor { 
	position: relative;
	width: 100%;
	height:300px;
	border: solid 1px #ccc;
}
</style>
    </head>

    <body>
	<apex:form >
		<apex:PageMessages />

				<div class="content">
		<div class="column2">

	
		<div>
			<h4>Hintergrund</h4>
        	<div class="background" style="max-width:400px;">
    			<a href="">&times;</a>
    			<apex:image url="/servlet/servlet.FileDownload?file={!quoteStyle.sf42_quotefx__SF42_FirstPageDocumentID__c}" width="400px" />
	    		</div>       
			<apex:inputFile value="{!docsig.body}" fileName="{!Sig_FileName}" filesize="{!Sig_FileSize}" contentType="{!Sig_ContentType}" accept="jpg,jpeg,gif,png,bmp"/>
			<!-- BUTTON SAVE -->
    		<apex:commandButton action="{!Save}" value="aktualisieren" />
 		</div>
    	<div>
    		<h4>Folgeseiten</h4>
    		<div class="background" style="max-width:400px;">
        		<a href="">&times;</a>
				<apex:image url="/servlet/servlet.FileDownload?file={!quoteStyle.sf42_quotefx__SF42_SecondPageDocumentID__c}" width="400px" />            		
    		</div>
	    	<apex:inputFile value="{!docsig2.body}" fileName="{!Sig_FileName2}" filesize="{!Sig_FileSize2}" contentType="{!Sig_ContentType2}" accept="jpg,jpeg,gif,png,bmp" />
	    	<!-- BUTTON SAVE -->
	    	<apex:commandButton action="{!Save}" value="aktualisieren" />
    	</div>


</div>
</div>		
		</apex:form>
	</body>
</apex:page>