<!-- ===================================================================
// QFX_copyOpp.page
// Author.....: TF salesfactory42
// Version....: V1.0
// Date.......: 2009/08/11
// Description: VF for automatic copy process
//=================================================================== -->

<apex:page standardController="sf42_quotefx__SF42_Quote__c" extensions="sf42_quotefx.QFX_quotes" action="{!act_o2q}">

	<apex:pageMessages />
  
	<apex:stylesheet value="{!URLFOR($Resource.sf42_quotefx__SF42_Styles)}"/>
	
	<div style="padding: 10px 0px 0px 20px;">

		<apex:form >

			<apex:outputPanel rendered="{!Language == 'de'}">
				<apex:commandLink styleclass="sf42btn" value="Zurück zur Opportunity" action="{!opportunityPR}" onmouseup=" this.value = 'Arbeite...'; this.disabled;" />
			</apex:outputPanel>

			<apex:outputPanel rendered="{!Language != 'de'}">
				<apex:commandLink styleclass="sf42btn"  value="Back to Opportunity" action="{!opportunityPR}" onmouseup=" this.value = 'Working...'; this.disabled;" />
			</apex:outputPanel>

		</apex:form>	

	</div>
	
</apex:page>