<apex:page StandardController="quote" cache="false" extensions="qe.QuotePDF" action="{!Init}" sidebar="false" showHeader="false" renderas="pdf"> <!-- renderas="PDF" -->
<head>
    <apex:stylesheet value="{!$Resource.qe__layoutCSS}"/> 
<!--     https://qe.na14.visual.force.com/apex/QuotePrint?scontrolCaching=1&id=0Q0d00000003MPL -->
    <!-- CSS -->
    <style>


         tr {page-break-inside:avoid} /* CHANGES ELISABETH*/
      /*table { page-break-inside: avoid;}*/
        table.result tr td {/*border-right:1pt black solid;*/ border-top:0 none;border-bottom:0 none;border-left:0 none;}
        body, table{
            max-width:560pt;
            color: #555 ;
        }
      


/*************** STYLE EDIT MODE ********************/
ul li { list-style-type:none;}
.first-page,
.second-page { border:0 none transparent;}
.odd { background: #eee}
.header .logo {background:url(../img/logo.jpg); width:200px; height:200px}
.label { font-weight:normal }
.block-left { }
/*.block-left { height: 60pt; overflow: hidden;}*/
.quote-expires ul li{ margin:0; padding:0 0 5px}
.block-right ul.list { margin:0;float: right;}
.block-right ul.list li {clear:both; padding:0 0 2px;}
.block-right ul.list li span.label { display: inline;float: left;font-weight: normal;width: 100pt;}
.quote-expires { margin-top: 5pt}

table.result caption { background:#e4eaf4;border:1px #3b5e91 solid; border-bottom:0 none;font-size: 12px;font-weight: bold;padding:6px 9px;}
table.result { table-layout:fixed; word-wrap:break-word;}/**ADD**/
table.result th.section {background:#999; color:#eee; text-align: left;}
table.result th { background:transparent; color:#777; font-weight:normal; font-size:12px}
/* table.result th { background:#f3f3f3;color:#777; font-weight:normal;font-size:12px} */
table.result th,table.result td,
table.grand-total td,table.customer-notes td,
table.signature { border-collapse:collapse;padding:6px 9px; /*border-right:1px black solid;*/}
table.result { border:1px transparent solid; /*page-break-after:auto;*/border-collapse:collapse}
table.result td,
table.grand-total td,table.customer-notes td,
table.signature { font-size:11px}
table.result td:first-child { text-align:left}
table.result td { /*text-align:right*/}

td.total { text-align:right; font-weight:bold}
table.result td.numbers,
table.grand-total td.numbers { text-align:center}

table.result img{width:23pt;max-height:25pt; overflow: hidden; background-color: #fff; padding: 0 2pt}

.intro_height {/*height:200pt;*/ line-height:1.4em; padding-top: 20px; border-top:1px #eee solid; }
.intro_height span.quote-to { background: #eee}
.intro_height ul li { padding: 2px 0}
.intro_height .label {  display:inline-block;zoom: 1; *display: inline; font-weight: normal; text-align: left; width:110px; color: #000 }
.intro_height .value { display:inline;zoom: 1; *display: inline;ont-weight: normal; text-align: left; width:120px;}
/*.intro_height .value { display:inline-block;zoom: 1; *display: inline;ont-weight: normal; text-align: left; width:120px;}*/
.content { clear:both;}
.content h4 { font-size:12px; color:#F00; margin:0; display:block;}
.content p { line-height:16px}
.signature {}
.first_header_page {}
.header_page {}
.first_footer {}
.footer {}
/*************** END STYLE EDIT MODE ********************/

        .sectionTable{}
        .fieldLabelRow{font-weight:bold;background-color:#f3f3f3;}
        .quoteLineItemRow{}
        .quoteLineItemCell{}
        .summaryTable{float:right;}
        .total-all { text-align: right;line-height: 18px;padding-top: 10px; width: 360px;}
        .total-all td { padding: 5px 0}
        .total-all td.summaryLabel { padding-right: 10pt}
        .summaryLabel{font-weight:normal; color:#000}
        .summaryValue{ text-align: left;}
        .total { background: #999999; color: #eee; text-align: right !important;}
        .no-b { border:0 none !important;}
        @page { 
            size: letter portrait;
            
            /*margin-top: 100px;
            margin-bottom: 80px;*/
            margin:100px 0.25in 80px 0.25in;
            width:100%;
            @top-left {
                content: element(header_left);
            }
            
            @top-center {
                content: element(header_center);
            }
            
            @top-right {
                content: element(header_right);
            }
            
            @bottom-left {
                content: element(footer_left);
            }
            
            @bottom-center {
                content: element(footer_center);
            }
            
            @bottom-right {
                content: element(footer_right);
                //content: "Page " counter(page);
            }
        }

        .header_left {
            text-align: left;
            position: running(header_left);
        }
        
        .header_center{
            position: running(header_center);
        }
        
        .header_right {
            text-align: right;
            position: running(header_right);
        }
        
        .footer_left {
            text-align: left;
            position: running(footer_left);
        }
        
        .footer_center {
            text-align: center;
            position: running(footer_center);
        }
        
        .footer_right {
            text-align: right;
            position: running(footer_right);
        }
        
        .pageNumber:before {
            content: counter(page); 
        }
        
        .pageCount:before {
            content: counter(pages);  
        }
        div.pageheader {
            display: block;
            border:1px solid black;
            height:100px;
            /*position: running(header);*/
        }
        
        div.pagefooter {
            display: block;
            position: running(footer);
        }
        
        .page-breaker { page-break-after: always}
        .clearer { clear: both;}    
        .numeric{text-align:right;white-space: nowrap;}
    
        <apex:outputText value="{!myTemplate.qe__css__c}" escape="true"/>
    </style>
    
</head>
<body>
      <apex:outputPanel layout="block" styleClass="firstdiv" style="padding-top:0px;max-width:560pt" rendered="{!hasTemplate}">
        <div class="header_center first_header_page">
            <apex:outputText value="{!FirstHeader}" escape="false"/>
        </div>
        <div class="header_center header_page" id="header_center">
            <apex:outputText value="{!OtherHeader}" escape="false"/>
        </div>
        <div class="footer_center first_footer" id="footer_center">
            <apex:outputText value="{!FirstFooter}" escape="false"/>
        </div>
         <div class="footer_center footer" id="footer_center">
            <apex:outputText value="{!OtherFooter}" escape="false"/>
        </div>
        <!-- Before Section -->
        <div style="{!IF(myTemplate.Page_break_after_header__c, 'page-break-after: always', '')}">
            <div class="container_24">
                    <div class="{!IF(myTemplate.Page_break_after_header__c, '', 'intro_height')}">
                    <apex:outputText value="{!beforeSection}" escape="false"/></div>
            </div>
        </div>
        <!-------------------->
<!--        <table border="0" width="100%" ALIGN="center" id="firstTable" class="mytable" style="max-width:680px;" cellspacing="15px" >  style="table-layout:fixed;" -->
            
             
             
             
             
             
             
 		<!-- Section Tables -->
        <apex:variable value="{!0}" var="totalSectionIndex"/>
        <apex:repeat value="{!sections}" var="sec"> 
        
            <apex:outputPanel layout="block" styleClass="summaryTable" rendered="{!OR(quote.qe__Show_Optional__c, !sec.obj.qe__Active__c)}"> 
            	<br />
            	<div ><!--  class="page-breaker" -->
            		<table border="0" cellpadding="0" cellspacing="0" class="result"  width="560pt">
            		
                    	<thead> 

                        	<!-- Section Name -->
	                        <tr>
	                            <th class="section" colspan="{!fieldNames.size}" align="center">
	                                {!sec.name}  {! if(sec.obj.Active__c,' - Optional','') }
	                            </th>
	                        </tr>
	                        
                        	<!-- Field Names -->
	                        <tr class="fieldLabelRow">
	                            <apex:repeat value="{!fieldLabels}" var="label">                                    
	                                <th  class="fieldLabelCell {!If(fieldLabelIsNumeric[label] == true,'numeric','')}">{!label}</th>
	                            </apex:repeat>                                  
	                        </tr>

                        	<!-- Section Header -->
	                        <tr style="display: {! IF (useSectionHeader, '', 'none')};">
	                            <th class="sectionHeader" colspan="{!fieldNames.size}">
	  								<apex:outputText value="{!sec.obj.qe__SectionHeader__c}" escape="false" />
       							</th>
	                        </tr>
                       		

	                    </thead>
	                    
                    	<tbody>
                    
	                        <!-- Quotelineitems Tables -->
	                        <apex:variable value="{!IF(myTemplate.qe__Page_break_after_header__c,0,12)}" var="index"/>
	                        <apex:variable value="odd" var="rowOddEven"/>
	                        <apex:repeat value="{!sec.items}" var="item">

	                            <apex:variable value="{!if(rowOddEven=='odd','even','odd')}" var="rowOddEven"/>
	                            
	                       		<!-- go over all available fields -->
	                           	<tr class="quoteLineItemRow {!rowOddEven}"><!-- {!IF(AND(MOD(index,rowsPerPage) == 0, index != 0), ' page-breaker','')} -->
	                                <apex:repeat value="{!fieldNames}" var="field">                                 
	                                    <td class="quoteLineItemCell {!If(fieldNumerics[field] == true,'numeric','')}">
	                                    	<apex:image url="{!URLFOR($Resource.qe__checkbox,'checked_checkbox.png')}" rendered="{!IF(item[field]==TRUE,true,false)}" width="10" height="10"/>
	                                    	<apex:image url="{!URLFOR($Resource.qe__checkbox,'unchecked_checkbox.png')}" rendered="{!IF(item[field]==FALSE,true,false)}" width="10" height="10"/>
	                                        <apex:outputfield value="{!item[field]}" rendered="{!IF(!OR(item[field]==TRUE,item[field]==FALSE),true,false)}"/>
	                                    </td>
	                                </apex:repeat>
	                            </tr>
	
	                            <apex:variable var="index" value="{!index+1}"/>                                         
                       		</apex:repeat>                              
                    	</tbody>
                    	
                     	<tfoot>
	
	                  		<!-- section totals -->
	                        <tr>
	                            <td class="total no-b" colspan="{!fieldNames.size}" align="right">
	                                <apex:outputpanel >
	                                    <span class="label_totalSection">Total Section</span>
	                                    <span class="value_totalSection">{!sec.totalPrice}</span>
	                                </apex:outputpanel>
	                            </td>
	                        </tr>

	                       	<!-- Section Footer -->
	                        <tr style="display: {! IF (useSectionFooter, '', 'none')};">
	                            <th class="sectionFooter" colspan="{!fieldNames.size}">
	  								<apex:outputText value="{!sec.obj.qe__SectionFooter__c}" escape="false" />
       							</th>
	                        </tr>
                    	</tfoot>
                    	
                	</table>
            	</div>
           	</apex:outputPanel>
            <apex:variable value="{!totalSectionIndex+1}" var="totalSectionIndex"/>
       	</apex:repeat>
       	
        <br/>
        <br/>
        
        
        
        
        
        <!-- Summary Table -->
        <apex:outputPanel layout="block" styleClass="summaryTable" rendered="{!myTemplate.qe__Show_Summary__c}">
        <table class="summaryTable total-all no-b" border="0" width="500pt" cellpadding="0" cellspacing="0">                                                                            
            <tbody>
                <tr>
                    <td width="50%" align="right" class="summaryLabel">
                        {!$Label.Total_Price}
<!--                    {!$ObjectType.Quote.fields.TotalPrice__c.label}-->
                    </td>
                    <td  width="50%" class="summaryValue">
                        <apex:outputfield value="{!quote[fieldName_TotalPrice]}"/>
                    </td>
                </tr>
                <apex:outputPanel layout="none" styleClass="taxeLine" rendered="{!myTemplate.qe__Show_Global_Discount__c}">
                <tr>
                    <td width="50%" align="right" class="summaryLabel">
                    	{!$Label.Global_Discount} (%)
<!--                    {!$ObjectType.Quote.fields.Global_Discount__c.label} (%)-->
                    </td>
                    <td class="summaryValue">
                        <apex:outputfield value="{!quote[fieldName_GlobalDiscount]}"/>
                    </td>
                </tr>
                </apex:outputPanel>
                <tr>
                    <td width="50%" align="right" class="summaryLabel">
                        {!$Label.Total_Quote}
<!--                    {!$ObjectType.Quote.fields.Total_Quote__c.label} -->
                    </td>
                    <td class="summaryValue">
                        <apex:outputfield value="{!quote[fieldName_TotalQuote]}"/>
                    </td>
                </tr>
                <apex:outputPanel layout="none" styleClass="taxeLine" rendered="{!myTemplate.qe__Show_Tax__c}">
                    <tr>
                        <td width="50%" align="right" class="summaryLabel">
                            {!$Label.Sales_Tax}
<!--                        {!$ObjectType.Quote.fields.Tax.label}-->
                        </td>
                        <td class="summaryValue">
                            <apex:outputfield value="{!quote['Tax']}"/>
                        </td>
                    </tr>
                </apex:outputPanel>
                <apex:outputPanel layout="none" styleClass="taxeLine" rendered="{!myTemplate.qe__Show_Shipping__c}">
                <tr>
                    <td  width="50%" align="right" class="summaryLabel">
                        {!$Label.Shipping_and_Handling}
<!--                    {!$ObjectType.Quote.fields.ShippingHandling.label} -->
                    </td>
                    <td class="summaryValue">
                        <apex:outputfield value="{!quote['ShippingHandling']}"/>
                    </td>
                </tr>
                </apex:outputPanel>
                <tr>
                    <td width="50%" align="right" class="summaryLabel">
                        {!$Label.Grand_Total}
<!--                    {!$ObjectType.Quote.fields.Grand_Total__c.label} -->
                    </td>
                    <td class="summaryValue grandTotal">
                        <apex:outputfield value="{!quote[fieldName_GrandTotal]}"/>
                    </td>
                </tr> 
            </tbody>
        </table>
        </apex:outputPanel>
      
        <div style="clear:both"></div>
        <!-- Signature-->
        <div class="signature">
            <apex:outputText rendered="{!quote.qe__Show_Signature__c}" value="{!signature}" id="signature" escape="false"/>
        </div>
        <!-- -------------- -->
        
       <!-- After Section-->
        <div style="{!IF(myTemplate.Page_break_before_footer__c, 'page-break-before: always', '')}">
            <apex:outputText value="{!afterSection}" id="footer" escape="false"/>
        </div>
        <!-- -------------- -->
    </apex:outputPanel>
    
   	<apex:outputText rendered="{!isUseAttachment}" value="{!attachment}" id="attachment" escape="false"/>
	
    <apex:outputPanel layout="block" rendered="{!!hasTemplate}">
        <h1>{!$Label.qe__select_template}</h1>
    </apex:outputPanel>
    
</body>
</apex:page>